<style>
.chosen-container {
	width: 100%;
}
</style>
<div ng-controller="prodPublishCtl">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<form role="form" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">产品类目</label>
								<div class="col-sm-10">
									<select id="class" chosen disable-search="true"
										class="chosen-select" no-results-text="'没有找到相应条目'"
										ng-model="prodcatSel" data-placeholder-text-single="'请选择...'"
										ng-options="item.ROUTENAME for item in prodcatOpt">
										<option value=""></option>
									</select>
								</div>
							</div>
						</form>
						<form role="form" class="form-horizontal">
							<button ng-if="if_publish" ng-click="reset()"
								class="btn btn-sm btn-primary" type="submit">重置</button>

							<button ng-if="if_publish" ng-disabled="myForm.$invalid"
								ng-click="submit()" class="btn btn-sm btn-primary" type="submit">提交</button>

						</form>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-12">


				<div class="tabs-container">
					<uib-tabset> <uib-tab> <uib-tab-heading>
					基本属性</uib-tab-heading>
					<div class="panel-body">
						<form class="form-horizontal" name="myForm" novalidate>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									style="color: red">*</span>产品名称:</label>
								<div class="col-sm-10">
									<input type="text" required ng-maxlength="80"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容" name="name" ng-model=prodData.PROD_NAME>
									<div class="text-danger"
										ng-if="myForm.name.$dirty && myForm.name.$invalid">
										<span ng-if="myForm.name.$error.required"> 输入不能为空 </span> <span
											ng-show="myForm.name.$error.maxlength">不能超过80个字符 </span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">产品编码:</label>
								<div class="col-sm-10">
									<input type="text"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容" ng-model=prodData.CODE>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									style="color: red">*</span>产品标题:</label>
								<div class="col-sm-10">
									<input type="text" required ng-maxlength="80"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容" name="title" ng-model=prodData.TITLE>
									<div class="text-danger"
										ng-if="myForm.title.$dirty && myForm.title.$invalid">
										<span ng-if="myForm.title.$error.required"> 输入不能为空 </span> <span
											ng-show="myForm.title.$error.maxlength">不能超过80个字符 </span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">品牌:</label>
								<div class="col-sm-10">

									<select class="form-control" ng-model="prodData.BRAND_ID">
										<option ng-repeat="item in brandOpt" value="{{item.BRAND_ID}}">{{item.NAME}}</option>
									</select>

								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">产品产地:</label>
								<div class="col-sm-10">
									<input type="text"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容" name="place" ng-model=prodData.PLACE>

								</div>
							</div>
							<!--  data-mask="999-99-999-9999-9" -->
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									style="color: red">*</span>产品列表价:</label>
								<div class="col-sm-10">
									<input type="number" required ng-maxlength="120"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容(必须)" name="listprice"
										ng-model="prodData.LIST_PRICE">
									<div class="text-danger"
										ng-if="myForm.listprice.$dirty && myForm.listprice.$invalid">
										<span ng-if="myForm.listprice.$error.required"> 输入不能为空
										</span> <span ng-show="myForm.listprice.$error.maxlength">不能超过80个字符
										</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									style="color: red">*</span>产品列表原价:</label>
								<div class="col-sm-10">
									<input type="number" required ng-maxlength="120"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容(必须)" name="listpriceori"
										ng-model="prodData.LIST_ORI_PRICE">
									<div class="text-danger"
										ng-if="myForm.listpriceori.$dirty && myForm.listpriceori.$invalid">
										<span ng-if="myForm.listpriceori.$error.required">
											输入不能为空 </span> <span ng-show="myForm.listpriceori.$error.maxlength">不能超过80个字符
										</span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									style="color: red">*</span>产品单位:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" ng-model=prodData.UNIT
										placeholder="请输入单位(必须)">
								</div>
							</div>


							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									style="color: red">*</span>产品主图:</label>
								<div class="col-sm-10">
									<div class="dropzone" drop-zone dzconfig="dtldzconfig"
										dzeventHandlers="dtldzevent" enctype="multipart/form-data">
										<div id="dropzone" class="fallback">
											<input name="file" type="file" multiple="" />
										</div>
									</div>
								</div>
							</div>

							<!-- 其他产品基本属性 -->
							<div class="hr-line-dashed"></div>
							<div class="form-group" ng-repeat="item in base_attr">
								<label class="col-sm-2 control-label"> <span
									ng-if="item.IS_NEED== 'Y'" style="color: red">*</span>{{item.NAME}}:
								</label>
								<div class="col-sm-10">
									<div ng-switch="item.INPUT_TYPE">
										<div ng-switch-when="input">
											<input type="text" ng-maxlength="100"
												class="form-control ng-pristine ng-untouched ng-valid ng-empty"
												placeholder="请输入内容" ng-model="item.ATTR_SET_VALUE">
										</div>
										<div ng-switch-when="select-single">
											<select class="form-control" ng-model="item.ATTR_SET_VALUE">
												<option ng-repeat="attr in item.LIST"
													value="{{attr.ATTR_SET_ID}}">{{attr.VALUE}}</option>
											</select>
										</div>
										<div ng-switch-when="select-multi">
											<label ng-repeat="attr in item.LIST"
												class="checkbox-inline i-checks">
												<div class="icheckbox_square-green"
													style="position: relative;">
													<input ng-change="baseattrvaluechange(item,attr)" icheck
														type="checkbox" ng-model="attr.STATUS">
												</div>{{attr.VALUE}}
											</label>
										</div>
									</div>
								</div>
							</div>


							<!-- 	<button ng-if="if_publish" ng-disabled="myForm.$invalid"
								ng-click="submit()" class="btn btn-sm btn-primary" type="submit">提交</button> -->
						</form>
					</div>
					</uib-tab> <uib-tab> <uib-tab-heading>销售属性</uib-tab-heading>
					<div class="panel-body">
						<form class="form-horizontal">
							<div class="form-group" ng-repeat="item in sale_attr">
								<label class="col-sm-2 control-label">{{item.NAME}}:</label>
								<div class="col-sm-10">
									<label ng-repeat="attr in item.LIST"
										class="checkbox-inline i-checks" style="padding-right: 5px;">
										<div class="icheckbox_square-green"
											style="position: relative; padding-right: 3px;">
											<input ng-change="saleattrvaluechange(item,attr)" icheck
												type="checkbox" ng-model="attr.STATUS">
										</div> {{attr.VALUE}}
									</label>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<div class="col-sm-4 col-sm-offset-2">
									<button ng-click="makeSKU()" class="btn btn-sm btn-primary"
										type="submit">生成SKU</button>
								</div>
							</div>
						</form>
						<table class="table table-stripped table-bordered"
							style="width: 90%; margin: 0 auto">
							<thead>
								<tr>
									<th>属性组合</th>
									<th>货号</th>
									<th><span style="color: red">*</span>销售价格</th>
									<th><span style="color: red">*</span>库存数</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in prodSku">
									<td><span ng-repeat="e in item.ATTR_SET_IDS">
											{{saleValueRender(e)}} </span></td>
									<td><input type="text" class="form-control"
										ng-model="item.CODE" placeholder="输入货号"></td>
									<td><input type="number" class="form-control"
										ng-model="item.PRICE" placeholder="输入价格"></td>
									<td><input type="number" class="form-control"
										ng-model="item.STOCK" placeholder="输入库存"></td>
								</tr>
							</tbody>
						</table>

						<div style="margin-bottom: 50px"></div>

					</div>
					</uib-tab> <!-- 	
					<uib-tab> <uib-tab-heading> Discount </uib-tab-heading>
					<div class="panel-body"></div>
					</uib-tab> --> <uib-tab> <uib-tab-heading>
					产品图片 </uib-tab-heading>
					<div class="panel-body">

						<div class="table-responsive">
							<table class="table table-bordered table-stripped">
								<thead>
									<tr>
										<th>Image preview</th>
										<th>Image url</th>
										<th>Sort order</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="img/gallery/2s.jpg"></td>
										<td><input type="text" class="form-control" disabled
											value="http://mydomain.com/images/image1.png"></td>
										<td><input type="text" class="form-control" value="1">
										</td>
										<td>
											<button class="btn btn-white">
												<i class="fa fa-trash"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					</uib-tab> </uib-tabset>
				</div>



			</div>
		</div>

	</div>
</div>


