<!-- Wrapper-->
<style>
/* .html {
	width: 100%;
	height: 100%;
} */
.fixed_top {
	position: fixed;
	border: 0;
	padding: 0 0;
	background: none repeat scroll 0 0 white;
	transition-duration: 0.4s;
	z-index: 2030;
	top: 0;
	left: 0;
	right: 0;
	s
}

.fixed_bottom {
	background: none repeat scroll 0 0 white;
	border-top: 1px solid #e7eaec;
	padding: 0 0;
	position: fixed;
	z-index: 1000;
	right: 0;
	bottom: 0;
	left: 0;
}
</style>
<div id="wrapper" class="html">
	<!-- Navigation -->
	<!-- <div ng-include="'views/common/navigation.html'"></div> -->

	<!-- Page wraper -->
	<!-- ng-class with current state name give you the ability to extended customization your view -->
	<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

		<!-- Page wrapper -->
		<!--    <div class="fixed_top"  ng-include="'views/common/topnavbar.html'"></div>  -->

		<!-- Main view  -->
		<div ui-view></div>

		<!-- Footer -->
		<div class="fixed_bottom"
			ng-include="'views/common/bottomContainer.html'"></div>
	</div>
</div>
