<style>
.chosen-container {
	width: 100%;
}
</style>
<div class="modal-content">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">属性选项</h4>
	</div>
	<div class="modal-body">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="ibox">
				<div class="ibox-content" style="border: none;">
					<div class="ibox float-e-margins" style="min-height: 250px;">
						<div class="ibox-title" style="border-style: none none none;">

							<div class="ibox-tools" style="text-align: left !important">
								<a ng-click="query()" class="btn btn-primary btn-xs">刷新</a> <a
									ng-click="add()" class="btn btn-primary btn-xs">新增</a>
							</div>
						</div>
						<div class="ibox-content">

							<div class="table-responsive">
								<table class="table table-stripped table-bordered">
									<thead>
										<tr>
											<th>选项值</th>
											<th>排序</th>
											<th>动作</th>
										</tr>
									</thead>
									<tbody>

										<tr ng-repeat="item in data">
											<td><input type="text" class="form-control"
												ng-model="item.value" placeholder="名称"></td>
											<td><input type="number" class="form-control"
												ng-model="item.OD" placeholder="1"></td>
											<td>
												<button ng-click="del(item)" class="btn btn-white">删除</button>
												<button ng-click="save(item)" class="btn btn-white">保存</button>
											</td>
										</tr>

									</tbody>
								</table>
							</div>



						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button ng-click="cancel()" class="btn    btn-warning">取消</button>
		<!-- 	<button ng-click="sure()"
			class="btn   btn-primary">确认</button> -->
	</div>
</div>