
<div class="modal-content">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">数据库实例</h4>
	</div>
	<div class="modal-body">
		<div class="wrapper wrapper-content animated fadeInRight">

			<form class="form-horizontal m-t-md " name="myForm" novalidate
				action="">
				<div class="form-group">
					<label class="col-sm-2 control-label"><span
						class="text-danger">*</span>系统名称:</label>
					<div class="col-sm-10">
						<input type="text" ng-disabled="true"
							class="form-control ng-pristine
							placeholder="
							请输入内容" name="name" ng-model="item.xtname">

					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"><span
						class="text-danger">*</span>数据库实例名称:</label>
					<div class="col-sm-10">
						<input type="text" required ng-maxlength="30"
							class="form-control ng-pristine ng-untouched ng-valid ng-empty"
							placeholder="请输入内容" name="dbinstance" ng-model="item.dbinstance">
						<div class="text-danger"
							ng-if="myForm.dbinstance.$dirty && myForm.dbinstance.$invalid">
							<span ng-if="myForm.dbinstance.$error.required"> 输入不能为空 </span> <span
								ng-show="myForm.dbinstance.$error.maxlength">不能超过30个字符 </span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"><span
						class="text-danger">*</span>备份策略:</label>
					<div class="col-sm-10">
						<input type="text" string-to-number ng-maxlength="200" required
							class="form-control ng-pristine ng-untouched ng-valid ng-empty"
							placeholder="请输入内容" name="bkstrategy" ng-model="item.bkstrategy">
						<div class="text-danger"
							ng-if="myForm.bkstrategy.$dirty && myForm.bkstrategy.$invalid">
							<span ng-if="myForm.bkstrategy.$error.required"> 输入不能为空 </span> <span
								ng-show="myForm.bkstrategy.$error.maxlength">不能超过200个字符 </span>
						</div>

					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label"><span
						class="text-danger">*</span>保留策略:</label>
					<div class="col-sm-10">
						<input type="text" string-to-number ng-maxlength="200" required
							class="form-control ng-pristine ng-untouched ng-valid ng-empty"
							placeholder="请输入内容" name="bkkeep" ng-model="item.bkkeep">
						<div class="text-danger"
							ng-if="myForm.bkkeep.$dirty && myForm.bkkeep.$invalid">
							<span ng-if="myForm.bkkeep.$error.required"> 输入不能为空 </span> <span
								ng-show="myForm.bkkeep.$error.maxlength">不能超过200个字符 </span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">备份类型:</label>
					<div class="col-sm-10">
						<select chosen disable-search="true" class="chosen-select"
							no-results-text="'没有找到相应条目'" ng-model="bktypeSel"
							data-placeholder-text-single="'请选择...'"
							ng-options="item.name for item in bktypeOpt">
							<option value=""></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">备份方式:</label>
					<div class="col-sm-10">
						<select chosen disable-search="true" class="chosen-select"
							no-results-text="'没有找到相应条目'" ng-model="bkmethodSel"
							data-placeholder-text-single="'请选择...'"
							ng-options="item.name for item in bkmethodOpt">
							<option value=""></option>
						</select>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">日志类型:</label>
					<div class="col-sm-10">
						<select chosen disable-search="true" class="chosen-select"
							no-results-text="'没有找到相应条目'" ng-model="archtypeSel"
							data-placeholder-text-single="'请选择...'"
							ng-options="item.name for item in archtypeOpt">
							<option value=""></option>
						</select>
					</div>
				</div>


				<div class="form-group">
					<label class="col-sm-2 control-label">备份现状:</label>
					<div class="col-sm-10">
						<select chosen disable-search="true" class="chosen-select"
							no-results-text="'没有找到相应条目'" ng-model="bkstatusSel"
							data-placeholder-text-single="'请选择...'"
							ng-options="item.name for item in bkstatusOpt">
							<option value=""></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">备份大小:</label>
					<div class="col-sm-10">
						<input type="text"
							class="form-control ng-pristine ng-untouched ng-valid ng-empty"
							placeholder="请输入大小" name="bkkeep" ng-model="item.dsize">

					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">备注:</label>
					<div class="col-sm-10">
						<input type="text" ng-maxlength="200"
							class="form-control ng-pristine ng-untouched ng-valid ng-empty"
							placeholder="请输入内容" name="mark" ng-model="item.mark">
						<div class="text-danger"
							ng-show="myForm.mark.$dirty && myForm.mark.$invalid">
							<span ng-show="myForm.mark.$error.maxlength">不能超过20个字符 </span>
						</div>
					</div>
				</div>


			</form>

		</div>
	</div>
	<div class="modal-footer" style="text-align: center">
		<button ng-click="cancel()" class="btn btn-warning">取消</button>
		<button ng-disabled="myForm.$invalid" ng-click="sure()"
			class="btn btn-primary">确认</button>
	</div>
</div>