<style>
@media ( min-width : 992px) {
	.modal-blg {
		width: 95%;
	}
}
</style>
<div class="modal-content">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">资产列表</h4>
	</div>
	<div class="modal-body">
		<div class="wrapper wrapper-content animated fadeInRight">
			<table datatable="ed" dt-options="dtOptions" dt-instance="dtInstance"
				dt-columns="dtColumns" dt-column-defs="dtColumnDefs"
				class="table table-hover">
			</table>
		</div>
	</div>
</div>