<div ng-controller="cmdbrepZctjCtl">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div ng-include="'views/Template/simpleTool.html'"></div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<table datatable="ed" dt-options="dtOptions"
							dt-instance="dtInstance" dt-columns="dtColumns"
							dt-column-defs="dtColumnDefs" class="table table-hover">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




