
<script src="plugin/term/term.js"></script>

<div ng-controller="nodeHostMgrCtl">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<form role="form" class="form-inline">
							<button ng-click="modify()" class="btn btn-sm btn-primary"
								type="submit">新增</button>
							<button ng-click="flush()" class="btn btn-sm btn-primary"
								type="submit">刷新</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<table datatable="ed" dt-options="dtOptions"
							dt-instance="dtInstance" dt-columns="dtColumns"
							dt-column-defs="dtColumnDefs" class="table table-hover">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





