<div ng-controller="touchWebCtl">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<form role="form" class="form-inline">
							<button ng-click="modify()" class="btn btn-sm btn-primary"
								type="submit">新增</button>
							<button ng-click="flush()" class="btn btn-sm btn-primary"
								type="submit">刷新</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<table datatable="ed" dt-options="dtOptions"
							dt-instance="dtInstance" dt-columns="dtColumns"
							dt-column-defs="dtColumnDefs" class="table table-hover">
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- 
<div id="chart" class="modal fade  " tabindex="15000" role="dialog"
	style="text-align: center; width: 100%">
	<div class="modal-dialog  modal-lg" role="document" style="width: 95%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">图表</h4>
			</div>
			<div class="modal-body">
				<iframe ng-src="{{url}}" frameborder="no" allowTransparency="true"
					scrolling="no" height="385px" width="100%"></iframe>
			</div>
		</div>
	</div>
</div>
 -->
