<div ng-controller="ctCompProfileCtl">

	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<form role="form" class="form-inline">
							<button ng-click="save()" class="btn btn-sm btn-primary"
								type="submit" ng-disabled="myForm.$invalid">提 交</button>
							<!-- 		<button ng-click="ok()" class="btn btn-sm btn-primary"
								type="submit">提交</button> -->
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>公司介绍</h5>
						<div ibox-tools="" class="ng-scope">
							<div class="ibox-tools dropdown" uib-dropdown="">
								<a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a> <a
									href="" uib-dropdown-toggle="" class="dropdown-toggle"
									aria-haspopup="true" aria-expanded="false"> <i
									class="fa fa-wrench"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="ibox-content">
						<form method="get" class="form-horizontal ng-pristine ng-valid"
							name="myForm" novalidate>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="text-danger">*</span>公司标题:</label>
								<div class="col-sm-10">
									<input type="text" required ng-maxlength="50"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容" name="title" ng-model="item.TITLE"
										class="form-control">
									<div class="text-danger"
										ng-if="myForm.title.$dirty && myForm.title.$invalid">
										<span ng-if="myForm.title.$error.required"> 输入不能为空 </span> <span
											ng-show="myForm.title.$error.maxlength">不能超过50个字符 </span>
									</div>
								</div>
							</div>
							<div class="hr-line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="text-danger">*</span>摘要:</label>
								<div class="col-sm-10">
									<input type="text" required ng-maxlength="10"
										class="form-control ng-pristine ng-untouched ng-valid ng-empty"
										placeholder="请输入内容" name="profile" ng-model="item.PROFILE"
										class="form-control">
									<div class="text-danger"
										ng-if="myForm.profile.$dirty && myForm.profile.$invalid">
										<span ng-if="myForm.profile.$error.required"> 输入不能为空 </span> <span
											ng-show="myForm.profile.$error.maxlength">不能超过20个字符 </span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span
									class="text-danger">*</span>主图:</label>
								<div class="col-sm-10">
									<div class="dropzone" drop-zone dzconfig="dtldzconfig"
										dzeventHandlers="dtldzevent" enctype="multipart/form-data">
										<div id="dropzone" class="fallback">
											<input name="file" type="file" multiple="" />
										</div>
									</div>
								</div>
							</div>
						</form>
						<div id="comp"
							style="margin-top: 3rem; margin-bottom: 1.25rem; height: 300px"
							config="_simpleConfig" class="ueditor" ng-model="content"></div>

			
						<div>
						<textarea>
						{{content}}
					</textarea>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>




