<div ng-controller="sysmenuCtl">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<form role="form" class="form-inline">
							<div class="form-group">
								<label for="class">分类</label> <select width=100 chosen
									disable-search="true" class="chosen-select col-sm-10"
									no-results-text="'没有找到相应条目'" ng-model="topMenuSel"
									data-placeholder-text-single="'请选择...'"
									ng-options="item.name for item in topMenuOpt">
									<option value=""></option>
								</select>
							</div>
							<button ng-click="query()" class="btn btn-sm btn-primary"
								type="submit">查询</button>
							<button ng-show="{{crud.root_insert}}" ng-click="addMasterNode()" class="btn btn-sm btn-primary"
								type="submit">新增主节点</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<tree-grid tree-data="tree_data" tree-control="my_tree"
							col-defs="col_defs" expand-on="expanding_property"
							on-select="my_tree_handler(branch)"
							expand-level="{{tree_expand_level}}" expand-to="expand_to"
							icon-leaf="glyphicon glyphicon-globe"> </tree-grid>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




