<script type="text/javascript"
	src="https://3gimg.qq.com/lightmap/components/geolocation/geolocation.min.js"></script>
<link rel="stylesheet"
	href="http://apps.bdimg.com/libs/bootstrap/3.2.0/css/bootstrap.min.css">

<script
	src="http://cdn.bootcss.com/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js"></script>
<div class=" " ng-controller="meCtl" style="background-color: white">
	<style>
.xuanfu {
	left: 0; height：30px;
	position: fixed;
	bottom: 0; /*这里换成top: 0;顶部*/
	z-index: 100;
	bottom: 0; /*这里换成top: 0;顶部*/
	width: 100%;
	background-color: white;
	text-align: center;
}

.yybt {
	width: 95%;
	text-align: center;
}
</style>
	<div class="xuanfu">
		<button ng-click="sure()" type="button" class="btn btn-primary yybt">立即预约</button>

	</div>

	<form
		style="margin-bottom: 80px; margin-left: 10px; margin-right: 10px">
		<div id="firstel" class="form-group">
			<label for="exampleInputEmail1">手机号</label> <input type="text"
				readonly="readonly" ng-model="item.shouji" class="form-control"
				placeholder="请输入手机号">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">姓名</label> <input type="text"
				readonly="readonly" ng-model="item.xingming" class="form-control"
				placeholder="请输入姓名">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">区域</label> <input type="text"
				ng-click="selZone()" ng-model="item.zone" class="form-control"
				placeholder="选择区域">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">地址</label> <input type="text"
				ng-model="item.dizhi" class="form-control" placeholder="请输入地址">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">日期</label> <input type="text"
				ng-click="selRq()" ng-model="item.rq" class="form-control"
				placeholder="请选择日期">
		</div>
	</form>

	<script>
	
	function getLocation() {
		　　var geolocation = new qq.maps.Geolocation("OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77", "myapp");  
			console.log('###########geolocation',geolocation)
		 　if (geolocation) {  
			 console.log(111111111);
		　　　　var options = {timeout: 8000};  
		　　　　geolocation.getLocation(onSuccess, onError, options);  
		　　} else {  
		　　　　alert("定位尚未加载");  
		　　}   
		}

	$(function() {
	    getLocation();
	})
	
	//成功时
function onSuccess(position) {
　　//经度
  
  console.log("##############position")
　　var longitude = position.lng;
　　//纬度
　　var latitude = position.lat;
　　var param = {
　　　　longitude : longitude,
　　　　latitude : latitude
　　};
　　$.ajax({
　　　　type : "post",
　　　　url : "getCode.jspx",
　　　　data : param,
　　　　dataType : "json",
　　　　success : function(data) {
　　　　　　alert(data.admCode);
　　　　　　alert(data.adm);
　　　　}
　　})
} 

//失败时 
function onError(error) { 
	console.log("#######error",error)
　　switch (error.code) { 
　　　　case 1: 
　　　　　　alert("位置服务被拒绝"); 
　　　　　　break; 
　　　　case 2: 
　　　　　　alert("暂时获取不到位置信息"); 
　　　　　　break; 
　　　　case 3: 
　　　　　　alert("获取信息超时");
　　　　　　break; 
　　　　case 4: 
　　　　　　alert("未知错误"); 
　　　　　　break; 
　　}
}
	 
	</script>
</div>


<!-- 

//type 001 (100代表道路，010代表POI，001代表门址，111可以同时显示前三项)
http://gc.ditu.aliyun.com/regeocoding?l=29.87386,121.55027&type=010
http://gc.ditu.aliyun.com/regeocoding?l=29.87386,121.55027&type=001
http://gc.ditu.aliyun.com/regeocoding?l=29.87386,121.55027&type=111

维护一份admCode
{
	"queryLocation": [29.87386, 121.55027],
	"addrList": [{
		"type": "poi",
		"status": 1,
		"name": "宁波海曙柒海商务酒店",
		"id": "ANB023E1332F",
		"admCode": "330203",
		"admName": "浙江省,宁波市,海曙区,",
		"addr": "县前街16号2号楼",
		"nearestPoint": [121.55005, 29.87347],
		"distance": 44.777
	}]
}

admCode

http://recode.ditu.aliyun.com/dist_query?l=29.87386,121.55027 -->
