<!-- 上面一行工具栏(支持查询,select),下面单表  -->
<style>
.chosen-container {
	width: 150px
}

.chosen-container-single {
	width: 150px;
}
</style>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row" ng-show="meta.tools.length>0">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">

					<span ng-repeat="item in meta.tools"> 
					
					<span
						ng-switch="item.type"> 
						
						<span ng-switch-when="btn"
							style="line-height: 30px;" compile="item.template"> </span> 
							
						<span 
							ng-switch-when="input" style="line-height: 30px;"   class="form-inline">
							<div class="form-group"> 
							  <label>{{item.label}}</label>
							  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"></div>
						</span>
						
						
						<span ng-switch-when="select" class="form-group" style="line-height: 30px; padding-right: 4px">
						  <label>{{item.name}}:</label>
								<select chosen width=100 disable-search="item.disablesearch"
								class="chosen-select" no-results-text="'没有找到相应条目'"
								ng-model="item.dataSel" data-placeholder-text-single="'请选择...'"
								ng-options="i.name for i in item.dataOpt">
									<option value=""></option>
						       </select>
						</span>
					
					 <!-- ng-switch -->
					</span>
					<!-- repeat -->

				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-hide="meta.tablehide">
		<div class="col-lg-12">
			<div class="ibox">
				<div class="ibox-content">
					<table datatable="ed" dt-options="dtOptions"
						dt-instance="dtInstance" dt-columns="dtColumns"
						dt-column-defs="dtColumnDefs" class="table table-hover">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>