<!--底部-->
<div data-am-widget="navbar" class="am-navbar am-cf my-nav-footer ">
	<ul class="am-navbar-nav am-cf am-avg-sm-4 my-footer-ul">
		<li ng-click="footerClick('index')"><a
			ng-class="{ 'footeractive' : footcurrent == 'index' }"> <span
				class="am-icon-home"></span> <span class="am-navbar-label">首页</span>
		</a></li>
		<li ng-click="footerClick('cat')"><a
			ng-class="{ 'footeractive' : footcurrent == 'cat' }"> <span
				class=" am-icon-th-large"></span> <span class="am-navbar-label">分类</span>
		</a></li>
		<li ng-click="footerClick('shop')"><a
			ng-class="{ 'footeractive' : footcurrent == 'shop' }"> <span
				class=" am-icon-shopping-cart"></span> <span class="am-navbar-label">购物车</span>
		</a></li>
		<li ng-click="footerClick('me')"><a
			ng-class="{ 'footeractive' : footcurrent == 'me' }"> <span
				class=" am-icon-user"></span> <span class="am-navbar-label">我</span>
		</a></li>
	</ul>
</div>
