<div ng-controller="sysUserSettingCtl">

	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<form role="form" class="form-inline">
							<button ng-click="query()" class="btn btn-sm btn-primary"
								type="submit">查询</button>
							<!-- 
							<button ng-click="detail()" class="btn btn-sm btn-primary"
								type="submit">用户详情</button> -->
						<!-- 	<button ng-click="update()" class="btn btn-sm btn-primary"
								type="submit">用户修改</button> -->
							<!-- 
							<button ng-click="updateRole()" class="btn btn-sm btn-primary"
								type="submit">批量权限修改</button>
							<button ng-click="del()" class="btn btn-sm btn-primary"
								type="submit">用户删除</button> -->


						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">

						<table datatable="ed" dt-options="dtOptions"
							class="table table-striped table-bordered table-hover"
							dt-instance="dtInstance" dt-columns="dtColumns"
							dt-column-defs="dtColumnDefs" class="table table-hover">
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>




