/* 底部固定 */
.fixed_bottom {
	background: none repeat scroll 0 0 white;
	border-top: 1px solid #e7eaec;
	padding: 0 0;
	position: fixed;
	z-index: 1000;
	right: 0;
	bottom: 0;
	left: 0;
}

.btm {
	width: 100%;
	text-align: center;
	background: #404042;
	height: 57px;
	color: white;
}

.btm tr td {
	
}

.btm tr td span {
	style: none;
	display: block;
}

.btm tr>td.active {
	color: red;
}

/* 双层list */
.mui-plus.mui-android header.mui-bar {
	display: none;
}

.mui-plus.mui-android .mui-bar-nav ~.mui-content {
	padding: 0;
}

.mui-row.mui-fullscreen>[class*="mui-col-"] {
	height: 100%;
}

.mui-col-xs-3, .mui-control-content {
	overflow-y: auto;
	height: 100%;
}

.mui-segmented-control .mui-control-item {
	line-height: 50px;
	width: 100%;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active
	{
	background-color: #fff;
}