<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.CtContentEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.CtContent">
        <id column="ID" property="id" />
        <result column="CAT_ID" property="catId" />
        <result column="DIGEST" property="digest" />
        <result column="TITLE" property="title" />
        <result column="PROFILE" property="profile" />
        <result column="URLTYPE" property="urltype" />
        <result column="URL" property="url" />
        <result column="TYPE" property="type" />
        <result column="MPIC" property="mpic" />
        <result column="MPIC_LOC" property="mpicLoc" />
        <result column="CONTENT" property="content" />
        <result column="HITS" property="hits" />
        <result column="AUTHOR" property="author" />
        <result column="SORT" property="sort" />
        <result column="CREATETIME" property="createtime" />
        <result column="MODIFYTIME" property="modifytime" />
        <result column="DISPLAY" property="display" />
        <result column="TAG" property="tag" />
        <result column="MARK" property="mark" />
        <result column="DELETED" property="deleted" />
        <result column="USER_ID" property="userId" />
        <result column="COL_A" property="colA" />
        <result column="COL_B" property="colB" />
        <result column="COL_C" property="colC" />
        <result column="COL_D" property="colD" />
        <result column="COL_E" property="colE" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CAT_ID, DIGEST, TITLE, PROFILE, URLTYPE, URL, TYPE, MPIC, MPIC_LOC, CONTENT, HITS, AUTHOR, SORT, CREATETIME, MODIFYTIME, DISPLAY, TAG, MARK, DELETED, USER_ID, COL_A, COL_B, COL_C, COL_D, COL_E
    </sql>

</mapper>
