<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.HrmOrgPartEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.HrmOrgPart">
        <id column="NODE_ID" property="nodeId" />
        <result column="NODE_NAME" property="nodeName" />
        <result column="ORG_ID" property="orgId" />
        <result column="PARENT_ID" property="parentId" />
        <result column="ROUTE" property="route" />
        <result column="TYPE" property="type" />
        <result column="ROUTE_NAME" property="routeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NODE_ID, NODE_NAME, ORG_ID, PARENT_ID, ROUTE, TYPE, ROUTE_NAME
    </sql>

</mapper>
