<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MallOrderDetailEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MallOrderDetail">
        <id column="ID" property="id" />
        <result column="ORDER_ID" property="orderId" />
        <result column="SPU" property="spu" />
        <result column="BUY_NUMBER" property="buyNumber" />
        <result column="PIC_ID" property="picId" />
        <result column="PROD_NAME" property="prodName" />
        <result column="PRICE" property="price" />
        <result column="SKU" property="sku" />
        <result column="PROPERTYCHILDIDS" property="propertychildids" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="LABEL" property="label" />
        <result column="CDATE" property="cdate" />
        <result column="REPUTATION" property="reputation" />
        <result column="CT_EVALUATE" property="ctEvaluate" />
        <result column="SHOP_ID" property="shopId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ORDER_ID, SPU, BUY_NUMBER, PIC_ID, PROD_NAME, PRICE, SKU, PROPERTYCHILDIDS, IS_DELETE, LABEL, CDATE, REPUTATION, CT_EVALUATE, SHOP_ID
    </sql>

</mapper>
