<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MallOrderEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MallOrder">
        <id column="ORDER_ID" property="orderId" />
        <result column="ORDER_TYPE" property="orderType" />
        <result column="USER_ID" property="userId" />
        <result column="ISNEEDLOGISTICS" property="isneedlogistics" />
        <result column="AMOUNTREAL" property="amountreal" />
        <result column="PROVINCEID" property="provinceid" />
        <result column="CITYID" property="cityid" />
        <result column="AREAID" property="areaid" />
        <result column="ADDRESS" property="address" />
        <result column="LINKMAN" property="linkman" />
        <result column="MOBILE" property="mobile" />
        <result column="CODE" property="code" />
        <result column="STATUS" property="status" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="DTL_NUMBER" property="dtlNumber" />
        <result column="REMARK" property="remark" />
        <result column="CDATE" property="cdate" />
        <result column="MDATE" property="mdate" />
        <result column="CALCUTE" property="calcute" />
        <result column="ID" property="id" />
        <result column="AMOUNT" property="amount" />
        <result column="YUNPRICE" property="yunprice" />
        <result column="IS_PAY" property="isPay" />
        <result column="PREPAY_ID" property="prepayId" />
        <result column="PDATE" property="pdate" />
        <result column="FDATE" property="fdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ORDER_ID, ORDER_TYPE, USER_ID, ISNEEDLOGISTICS, AMOUNTREAL, PROVINCEID, CITYID, AREAID, ADDRESS, LINKMAN, MOBILE, CODE, STATUS, IS_DELETE, DTL_NUMBER, REMARK, CDATE, MDATE, CALCUTE, ID, AMOUNT, YUNPRICE, IS_PAY, PREPAY_ID, PDATE, FDATE
    </sql>

</mapper>
