<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnMetricWarnRecEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnMetricWarnRec">
        <id column="ID" property="id" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="NODE_ID" property="nodeId" />
        <result column="METRIC_ID" property="metricId" />
        <result column="V_A" property="vA" />
        <result column="V_A_V" property="vAV" />
        <result column="METRIC_NAME" property="metricName" />
        <result column="VALUE" property="value" />
        <result column="INSERTTIME" property="inserttime" />
        <result column="CREATETIME" property="createtime" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="IS_PROCESS" property="isProcess" />
        <result column="WTYPE" property="wtype" />
        <result column="MARK" property="mark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, SERVICE_ID, NODE_ID, METRIC_ID, V_A, V_A_V, METRIC_NAME, VALUE, INSERTTIME, CREATETIME, IS_DELETE, IS_PROCESS, WTYPE, MARK
    </sql>

</mapper>
