<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnMetricDefineEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnMetricDefine">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="DS" property="ds" />
        <result column="SHOWTYPE" property="showtype" />
        <result column="CHARTOPT" property="chartopt" />
        <result column="COLS" property="cols" />
        <result column="MARK" property="mark" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="STATUS" property="status" />
        <result column="DS_VALUE" property="dsValue" />
        <result column="CHARTDATATYPE" property="chartdatatype" />
        <result column="DATA_INTERVAL" property="dataInterval" />
        <result column="V_A" property="vA" />
        <result column="V_A_M" property="vAM" />
        <result column="V_A_V" property="vAV" />
        <result column="IS_WARN" property="isWarn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, DS, SHOWTYPE, CHARTOPT, COLS, MARK, IS_DELETE, STATUS, DS_VALUE, CHARTDATATYPE, DATA_INTERVAL, V_A, V_A_M, V_A_V, IS_WARN
    </sql>

</mapper>
