<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnNodeMetricFixedEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnNodeMetricFixed">
        <id column="ID" property="id" />
        <result column="NODE_ID" property="nodeId" />
        <result column="USER_ID" property="userId" />
        <result column="METRIC_ID" property="metricId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NODE_ID, USER_ID, METRIC_ID
    </sql>

</mapper>
