<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnNodeInfoEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnNodeInfo">
        <result column="NODE_ID" property="nodeId" />
        <result column="NODE_ID1" property="nodeId1" />
        <result column="NODE_ID2" property="nodeId2" />
        <result column="TYPE" property="type" />
        <result column="INFO" property="info" />
        <result column="STATUS" property="status" />
        <result column="MARK" property="mark" />
        <result column="ITIME" property="itime" />
        <result column="CTIME" property="ctime" />
        <result column="UTIME" property="utime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NODE_ID, NODE_ID1, NODE_ID2, TYPE, INFO, STATUS, MARK, ITIME, CTIME, UTIME
    </sql>

</mapper>
