<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnNodeLogEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnNodeLog">
        <result column="NODE" property="node" />
        <result column="TYPE" property="type" />
        <result column="MLEVEL" property="mlevel" />
        <result column="MESSAGE" property="message" />
        <result column="MARK" property="mark" />
        <result column="INSERTTIME" property="inserttime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NODE, TYPE, MLEVEL, MESSAGE, MARK, INSERTTIME
    </sql>

</mapper>
