<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnOradbEventdbtimepctEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnOradbEventdbtimepct">
        <result column="NODE" property="node" />
        <result column="INSTANCE" property="instance" />
        <result column="DBTIMEPCT" property="dbtimepct" />
        <result column="DBRECTIME" property="dbrectime" />
        <result column="PRODUCETIME" property="producetime" />
        <result column="INSERTTIME" property="inserttime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NODE, INSTANCE, DBTIMEPCT, DBRECTIME, PRODUCETIME, INSERTTIME
    </sql>

</mapper>
