<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnOsCpumemEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnOsCpumem">
        <result column="NODE" property="node" />
        <result column="RUNPROCESS" property="runprocess" />
        <result column="OS_USER" property="osUser" />
        <result column="OS_SYS" property="osSys" />
        <result column="OS_IDLE" property="osIdle" />
        <result column="OS_WIO" property="osWio" />
        <result column="OS_MEM_FREE" property="osMemFree" />
        <result column="OS_PAGE_IN" property="osPageIn" />
        <result column="OS_PAGE_OUT" property="osPageOut" />
        <result column="OS_PAGE_FR" property="osPageFr" />
        <result column="OS_PAGE_SR" property="osPageSr" />
        <result column="PRODUCETIME" property="producetime" />
        <result column="INSERTTIME" property="inserttime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NODE, RUNPROCESS, OS_USER, OS_SYS, OS_IDLE, OS_WIO, OS_MEM_FREE, OS_PAGE_IN, OS_PAGE_OUT, OS_PAGE_FR, OS_PAGE_SR, PRODUCETIME, INSERTTIME
    </sql>

</mapper>
