<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnOsFsEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnOsFs">
        <result column="NODE" property="node" />
        <result column="LVNAME" property="lvname" />
        <result column="FSIZE" property="fsize" />
        <result column="USED" property="used" />
        <result column="AVAIL" property="avail" />
        <result column="USDRAT" property="usdrat" />
        <result column="MOUNTPOINT" property="mountpoint" />
        <result column="PRODUCETIME" property="producetime" />
        <result column="INSERTTIME" property="inserttime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NODE, LVNAME, FSIZE, USED, AVAIL, USDRAT, MOUNTPOINT, PRODUCETIME, INSERTTIME
    </sql>

</mapper>
