<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnUrlTouchWarnEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnUrlTouchWarn">
        <id column="ID" property="id" />
        <result column="NODE" property="node" />
        <result column="NODENAME" property="nodename" />
        <result column="URL" property="url" />
        <result column="DATA_ID" property="dataId" />
        <result column="STATUS" property="status" />
        <result column="RESP_TIME" property="respTime" />
        <result column="THRESHOLD" property="threshold" />
        <result column="INSERTTIME" property="inserttime" />
        <result column="DR" property="dr" />
        <result column="PROCESS" property="process" />
        <result column="WARN" property="warn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NODE, NODENAME, URL, DATA_ID, STATUS, RESP_TIME, THRESHOLD, INSERTTIME, DR, PROCESS, WARN
    </sql>

</mapper>
