<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.MnUrlTouchEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.MnUrlTouch">
        <id column="ID" property="id" />
        <result column="NODE" property="node" />
        <result column="STATUS" property="status" />
        <result column="BODY" property="body" />
        <result column="PRODUCETIME" property="producetime" />
        <result column="INSERTTIME" property="inserttime" />
        <result column="METRIC_ID" property="metricId" />
        <result column="RESP_TIME" property="respTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NODE, STATUS, BODY, PRODUCETIME, INSERTTIME, METRIC_ID, RESP_TIME
    </sql>

</mapper>
