<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.OmNodeAppEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.OmNodeApp">
        <id column="ID" property="id" />
        <result column="NODE_ID" property="nodeId" />
        <result column="TYPE" property="type" />
        <result column="NAME" property="name" />
        <result column="USERNAME" property="username" />
        <result column="PWD" property="pwd" />
        <result column="PORT" property="port" />
        <result column="PWDMD5" property="pwdmd5" />
        <result column="MARK" property="mark" />
        <result column="ISVALID" property="isvalid" />
        <result column="STATUS" property="status" />
        <result column="CDATE" property="cdate" />
        <result column="MDATE" property="mdate" />
        <result column="DELETED" property="deleted" />
        <result column="OD" property="od" />
        <result column="CMD_START" property="cmdStart" />
        <result column="CMD_STOP" property="cmdStop" />
        <result column="CMD_STATUS" property="cmdStatus" />
        <result column="IP" property="ip" />
        <result column="USE_HOST_LOGIN" property="useHostLogin" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NODE_ID, TYPE, NAME, USERNAME, PWD, PORT, PWDMD5, MARK, ISVALID, STATUS, CDATE, MDATE, DELETED, OD, CMD_START, CMD_STOP, CMD_STATUS, IP, USE_HOST_LOGIN
    </sql>

</mapper>
