<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.ProductCategoryAttrEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.ProductCategoryAttr">
        <id column="ID" property="id" />
        <result column="ATTR_ID" property="attrId" />
        <result column="CAT_ID" property="catId" />
        <result column="NAME" property="name" />
        <result column="IS_INPUT" property="isInput" />
        <result column="IS_KEY" property="isKey" />
        <result column="IS_DELETED" property="isDeleted" />
        <result column="IS_SEARCH" property="isSearch" />
        <result column="CAN_ALIAS" property="canAlias" />
        <result column="IS_NEED" property="isNeed" />
        <result column="OD" property="od" />
        <result column="IS_ENUM" property="isEnum" />
        <result column="IS_USED" property="isUsed" />
        <result column="ATTR_TYPE" property="attrType" />
        <result column="INPUT_TYPE" property="inputType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, ATTR_ID, CAT_ID, NAME, IS_INPUT, IS_KEY, IS_DELETED, IS_SEARCH, CAN_ALIAS, IS_NEED, OD, IS_ENUM, IS_USED, ATTR_TYPE, INPUT_TYPE
    </sql>

</mapper>
