<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.ProductCatMapAttrEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.ProductCatMapAttr">
        <id column="ID" property="id" />
        <result column="CAT_ID" property="catId" />
        <result column="USER_CAT_ID" property="userCatId" />
        <result column="ATTR_ID" property="attrId" />
        <result column="ATTR_SET_ID" property="attrSetId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CAT_ID, USER_CAT_ID, ATTR_ID, ATTR_SET_ID
    </sql>

</mapper>
