<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.ProductBrandEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.ProductBrand">
        <id column="BRAND_ID" property="brandId" />
        <result column="BRAND_CODE" property="brandCode" />
        <result column="NAME" property="name" />
        <result column="IS_DELETED" property="isDeleted" />
        <result column="MARK" property="mark" />
        <result column="OD" property="od" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BRAND_ID, BRAND_CODE, NAME, IS_DELETED, MARK, OD
    </sql>

</mapper>
