<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysCtClassEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysCtClass">
        <id column="CLASS_ID" property="classId" />
        <result column="TYPE" property="type" />
        <result column="NAME" property="name" />
        <result column="PIC_ID" property="picId" />
        <result column="IS_USED" property="isUsed" />
        <result column="IS_DELETE" property="isDelete" />
        <result column="OD" property="od" />
        <result column="MARK" property="mark" />
        <result column="MODULE" property="module" />
        <result column="STATUS" property="status" />
        <result column="COL_A" property="colA" />
        <result column="COL_B" property="colB" />
        <result column="COL_C" property="colC" />
        <result column="COL_D" property="colD" />
        <result column="COL_E" property="colE" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        CLASS_ID, TYPE, NAME, PIC_ID, IS_USED, IS_DELETE, OD, MARK, MODULE, STATUS, COL_A, COL_B, COL_C, COL_D, COL_E
    </sql>

</mapper>
