<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysFilesEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysFiles">
        <id column="ID" property="id" />
        <result column="PATH" property="path" />
        <result column="TYPE" property="type" />
        <result column="BUS" property="bus" />
        <result column="MARK" property="mark" />
        <result column="FILENAME" property="filename" />
        <result column="CDATE" property="cdate" />
        <result column="COL_A" property="colA" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, PATH, TYPE, BUS, MARK, FILENAME, CDATE, COL_A
    </sql>

</mapper>
