<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysJobDtlEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysJobDtl">
        <result column="SEQ" property="seq" />
        <result column="JOBSEQ" property="jobseq" />
        <result column="JOBCONTENT" property="jobcontent" />
        <result column="OPERTYPE" property="opertype" />
        <result column="STATUS" property="status" />
        <result column="RECLOG" property="reclog" />
        <result column="STIME" property="stime" />
        <result column="ETIME" property="etime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        SEQ, JOBSEQ, JOBCONTENT, OPERTYPE, STATUS, RECLOG, STIME, ETIME
    </sql>

</mapper>
