<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysLogAccessEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysLogAccess">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="IP" property="ip" />
        <result column="RTIME" property="rtime" />
        <result column="TYPE" property="type" />
        <result column="URL" property="url" />
        <result column="POSTORGET" property="postorget" />
        <result column="MARK" property="mark" />
        <result column="METHOD_TYPE" property="methodType" />
        <result column="INFO" property="info" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, IP, RTIME, TYPE, URL, POSTORGET, MARK, METHOD_TYPE, INFO
    </sql>

</mapper>
