<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysMenusNodeEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysMenusNode">
        <id column="NODE_ID" property="nodeId" />
        <result column="NODE_NAME" property="nodeName" />
        <result column="PARENT_ID" property="parentId" />
        <result column="MODULE_ID" property="moduleId" />
        <result column="MENU_ID" property="menuId" />
        <result column="MARK" property="mark" />
        <result column="LOGO" property="logo" />
        <result column="MENU_LEVEL" property="menuLevel" />
        <result column="ORG_ID" property="orgId" />
        <result column="SORT" property="sort" />
        <result column="KEYVALUE" property="keyvalue" />
        <result column="ROUTE" property="route" />
        <result column="IS_ACTION" property="isAction" />
        <result column="DELETED" property="deleted" />
        <result column="IS_G_SHOW" property="isGShow" />
        <result column="TYPE" property="type" />
        <result column="ROUTE_NAME" property="routeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        NODE_ID, NODE_NAME, PARENT_ID, MODULE_ID, MENU_ID, MARK, LOGO, MENU_LEVEL, ORG_ID, SORT, KEYVALUE, ROUTE, IS_ACTION, DELETED, IS_G_SHOW, TYPE, ROUTE_NAME
    </sql>

</mapper>
