<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysUserInfoEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysUserInfo">
        <id column="USER_ID" property="userId" />
        <result column="EMPL_ID" property="emplId" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_TYPE" property="userType" />
        <result column="NICKNAME" property="nickname" />
        <result column="NAME" property="name" />
        <result column="PWD" property="pwd" />
        <result column="STATUS" property="status" />
        <result column="ORG_ID" property="orgId" />
        <result column="LOCKED" property="locked" />
        <result column="TOKEN" property="token" />
        <result column="TEL" property="tel" />
        <result column="QQ" property="qq" />
        <result column="MAIL" property="mail" />
        <result column="PROFILE" property="profile" />
        <result column="MARK" property="mark" />
        <result column="HOMEADDR_DEF" property="homeaddrDef" />
        <result column="RECEADDR_DEF" property="receaddrDef" />
        <result column="BIRTH" property="birth" />
        <result column="WEIXIN" property="weixin" />
        <result column="SEX" property="sex" />
        <result column="DELETED" property="deleted" />
        <result column="PHOTO" property="photo" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATE_IP" property="createIp" />
        <result column="LAST_LOGIN_TIME" property="lastLoginTime" />
        <result column="LAST_LOGIN_IP" property="lastLoginIp" />
        <result column="SYSTEM" property="system" />
        <result column="OPEN_ID" property="openId" />
        <result column="SCORE" property="score" />
        <result column="SHOP_ID" property="shopId" />
        <result column="AVATARURL" property="avatarurl" />
        <result column="BALANCE" property="balance" />
        <result column="CARD" property="card" />
        <result column="AMOUNT" property="amount" />
        <result column="FAMOUNT" property="famount" />
        <result column="TIXAMOUNT" property="tixamount" />
        <result column="CREDIT_SCORE" property="creditScore" />
        <result column="IDENTITY_CARD" property="identityCard" />
        <result column="DRIVER_CARD" property="driverCard" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="NATION" property="nation" />
        <result column="NATIVE_PLACE" property="nativePlace" />
        <result column="SELF_EVALUATE" property="selfEvaluate" />
        <result column="ALI_PAY_USERNAME" property="aliPayUsername" />
        <result column="ALI_PAY_ACCOUNT" property="aliPayAccount" />
        <result column="SHORTMOBILE" property="shortmobile" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ID, EMPL_ID, USER_NAME, USER_TYPE, NICKNAME, NAME, PWD, STATUS, ORG_ID, LOCKED, TOKEN, TEL, QQ, MAIL, PROFILE, MARK, HOMEADDR_DEF, RECEADDR_DEF, BIRTH, WEIXIN, SEX, DELETED, PHOTO, CREATE_TIME, CREATE_IP, LAST_LOGIN_TIME, LAST_LOGIN_IP, SYSTEM, OPEN_ID, SCORE, SHOP_ID, AVATARURL, BALANCE, CARD, AMOUNT, FAMOUNT, TIXAMOUNT, CREDIT_SCORE, IDENTITY_CARD, DRIVER_CARD, UPDATE_TIME, NATION, NATIVE_PLACE, SELF_EVALUATE, ALI_PAY_USERNAME, ALI_PAY_ACCOUNT, SHORTMOBILE
    </sql>

</mapper>
