<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysUserHomeaddrEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysUserHomeaddr">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="PROVINCEID" property="provinceid" />
        <result column="PROVINCENAME" property="provincename" />
        <result column="CITYID" property="cityid" />
        <result column="CITYNAME" property="cityname" />
        <result column="AREAID" property="areaid" />
        <result column="AREANAME" property="areaname" />
        <result column="CT" property="ct" />
        <result column="IS_DELETED" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, PROVINCEID, PROVINCENAME, CITYID, CITYNAME, AREAID, AREANAME, CT, IS_DELETED
    </sql>

</mapper>
