<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.SysUserFundRecEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.SysUserFundRec">
        <id column="ID" property="id" />
        <result column="USER_ID" property="userId" />
        <result column="IS_PLUS" property="isPlus" />
        <result column="AMOUNT" property="amount" />
        <result column="ORDER_ID" property="orderId" />
        <result column="TYPE" property="type" />
        <result column="STATUS" property="status" />
        <result column="OPER_ID" property="operId" />
        <result column="DR" property="dr" />
        <result column="MARK" property="mark" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="PROCESS_TIME" property="processTime" />
        <result column="TITLE" property="title" />
        <result column="ORDER_TYPE" property="orderType" />
        <result column="ITEM_ID" property="itemId" />
        <result column="REASON" property="reason" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_ID, IS_PLUS, AMOUNT, ORDER_ID, TYPE, STATUS, OPER_ID, DR, MARK, CREATE_TIME, PROCESS_TIME, TITLE, ORDER_TYPE, ITEM_ID, REASON
    </sql>

</mapper>
