<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.WxAppsEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.WxApps">
        <result column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="APP_ID" property="appId" />
        <result column="DR" property="dr" />
        <result column="MARK" property="mark" />
        <result column="MENU" property="menu" />
        <result column="SECRET" property="secret" />
        <result column="CDATE" property="cdate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, APP_ID, DR, MARK, MENU, SECRET, CDATE
    </sql>

</mapper>
