<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yys.test.mapper.WxMsgDefEntity">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yys.test.entity.WxMsgDef">
        <id column="ID" property="id" />
        <result column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="MSGTYPE" property="msgtype" />
        <result column="VALUE" property="value" />
        <result column="DR" property="dr" />
        <result column="MARK" property="mark" />
        <result column="GROUP_ID" property="groupId" />
        <result column="FUNTYPE" property="funtype" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, CODE, NAME, MSGTYPE, VALUE, DR, MARK, GROUP_ID, FUNTYPE
    </sql>

</mapper>
