<div class="container" ng-controller="indexProdClassCtl">
	<header data-am-widget="header"
		class="am-header am-header-default my-header">
		<h1 class="am-header-title">
			<a class="">商城</a>
		</h1>
		<div class="am-header-right am-header-nav">
			<a class=""> <i class="am-header-icon  am-icon-share-alt"></i>
			</a>
		</div>
	</header>


	<ks-swiper-container initial-slide="3" loop="true" autoplay="5000"
		pagination-is-active="true" show-nav-buttons="false"
		slides-per-view="1" space-between="0" pagination-clickable="true">
	<ks-swiper-slide class="swiper-slide" ng-repeat="item in indexbanner">
	<img style="width: 100%" ng-src="{{item.url}}"> </ks-swiper-slide> </ks-swiper-container>


	<div class="my-search-title-panel">
		<ul class="am-avg-sm-4 am-text-center am-text-sm">
			<li class="am-text-center"><img style="width: 40px"
				src="image/small/roulei.png"><br />全部分类</li>
			<li class="am-text-center"><img style="width: 40px"
				src="image/small/xiaxie.png"><br />拼团</li>
			<li class="am-text-center"><img style="width: 40px"
				src="image/small/yubei.png"><br />团购</li>
			<li class="am-text-center"><img style="width: 40px"
				src="image/small/roulei.png"><br />福利专区</li>
		</ul>
	</div>



	<div class="am-g">
		<div class="am-u-sm-12">
			<img style="width: 100%;margin-bottom:8px;" src="image/banner/2.jpg">
		</div>
		<div class="am-u-sm-12">
			<img style="width: 100%;margin-bottom:8px;" src="image/banner/3.jpg">
		</div>
		<div class="am-u-sm-12">
			<img style="width: 100%;margin-bottom:8px;" src="image/banner/3.jpg">
		</div>
	</div>



	<div class="am-cf am-g">
		<ul class="am-avg-sm-2 my-shop-product-list">
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
		</ul>
	</div>



</div>




