
<div class="container" ng-controller="catCtl">
	<header id="header" class="mui-bar mui-bar-nav">
		<a class="mui-icon mui-icon-home" ng-click="goindex()"></a>
		<h1 class="mui-title">分类</h1>
	</header>
	<div class="mui-content mui-row mui-fullscreen">
		<div class="mui-col-xs-3">
			<div id="segmentedControls"
				class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
				<a ng-repeat="item in catClass" class="mui-control-item"
					ng-click="catNavClick(item)"
					ng-class="{ 'mui-active' : catClassSel == item.ID }">
					{{item.NAME}} </a>
			</div>
		</div>
		<div id="segmentedControlContents" class="mui-col-xs-9"
			style="border-left: 1px solid #c8c7cc;">
			<div id="content1" class="mui-control-content mui-active">
				<ul class="mui-table-view">
					<li ng-repeat="item in catSubClass" class="mui-table-view-cell">
						{{item.NAME}}</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="am-cf am-g">
		<ul class="am-avg-sm-2 my-shop-product-list">
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
			<li>
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						<img class="am-img-responsive" src="default/img2.jpg">
						<h3>
							<a href="#">电蟒原装智能遥控器</a>
						</h3>
						<div>
							<span class="list-product-price-span">￥89.00</span> <span
								class="list-product-commission-span">佣金<br>2.84
							</span> <span class="list-product-sorce-span">积分<br>4
							</span>
						</div>
						<hr data-am-widget="divider" style=""
							class="am-divider am-divider-default am-cf am-no-layout">
						<ol class="am-avg-sm-3 product-list-share">
							<li><a href="#"><img src="default/icon1.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon2.png"
									class="am-img-responsive"></a></li>
							<li><a href="#"><img src="default/icon3.png"
									class="am-img-responsive"></a></li>
						</ol>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

