<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse" >
	 <!-- 	<span close-off-canvas></span> -->
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="profile-element" uib-dropdown>
					<img alt="image" class="img-circle" src="img/profile_small.jpg" />
					<a uib-dropdown-toggle href> <span class="clear"> <span
							class="block m-t-xs"> <strong class="font-bold">{{sys_user_info.USER_NAME}}</strong>
						</span> <!--  <span class="text-muted text-xs block">{{sys_user_info.USER_NAME}}
								 <b class="caret"></b> 
						</span> -->
					</span>
					</a>
					<!-- <ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
						<li><a ng-click="logout()">退出</a></li>
					</ul> -->
				</div>
				<div class="logo-element">
					<i class="fa fa-home" aria-hidden="true"></i>
				</div>
			</li>

			<li ng-repeat="first in menu"
				ng-class="{active: $state.includes('{{first.state}}')}"><a
				ui-sref="{{first.state}}"> <i
					ng-class="{false: 'fa fa-th-large',true:'{{first.logo}}'}[menuLogoIsExist(first.logo)]"></i>
					<span class="nav-lank nav-label nav-first-level">{{::first.node_name}}</span>
					<span ng-if="first.CHILDREN_CNT>0" class="fa arrow"></span>
			</a>
				<ul ng-if="first.CHILDREN_CNT>0"
					class="nav nav-second-level collapse "
					ng-class="{in: $state.includes('{{first.state}}')}">
					<li ng-class="{active: $state.includes('{{second.state}}')}"
						ng-repeat="second in first.children"><a
						ui-sref="{{second.state}}">{{::second.node_name}} <span
							ng-if="second.children_cnt>0" class="fa arrow"></span>
					</a>
						<ul ng-if="second.children_cnt>0"
							ng-class="{in: $state.includes('{{third.state}}')}"
							class="nav nav-third-level collapse ">
							<li ui-sref-active="active22"
								ng-repeat="third in second.children"><a
								ui-sref="{{third.state}}">{{::third.node_name}} </a></li>
						</ul></li>
				</ul></li>
		</ul>
	</div>

</nav>