<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation"
		style="background-color: white ;margin-bottom: 0;">
		<div class="navbar-header">

			<span minimaliza-sidebar></span>
			<!--     <form role="search" class="navbar-form-custom" method="post" action="views/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search" id="top-search">
                </div>
            </form> -->
		</div>
		<ul class="nav navbar-top-links navbar-right">

			<li ng-if="dt_systems.length>1" uib-dropdown><a
				uib-dropdown-toggle class=""> <i
					class="fa fa-dropbox on fa-square" aria-hidden="true"
					style="color: #686B6D; padding-left: 3px; padding-right: 3px"></i></a>
				<ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
					<li><a style="text-align: center">请选择系统切换</a></li>
					<li role="separator" class="divider" style="margin-top:2px;margin-bottom:2px"></li>
					<li ng-click="switchSystem(item.menuId)"
						ng-repeat="item in dt_systems"><a class="fa fa-sitemap"
						href="javascript:;"><i class="zmdi zmdi-shield-security"></i>
							<span style="padding-left: 6px;">{{item.name}}</span></a></li>
				</ul></li>
			<li uib-dropdown><a uib-dropdown-toggle> <span
					class="fa fa-themeisle" aria-hidden="true"
					style="color: #686B6D; padding-left: 3px; padding-right: 3px"></span></a>
				<ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
					<li ng-click="change_theme('default')"><a href="javascript:;"
						systemid="1"><i class="zmdi zmdi-shield-security"></i> <span
							style="padding-left: 6px;">默认主题</span></a></li>
					<li ng-click="change_theme('md-skin')"><a href="javascript:;"
						systemid="1"><i class="zmdi zmdi-shield-security"></i> <span
							style="padding-left: 6px;">Material Design风格</span></a></li>
				</ul></li>

			<li uib-dropdown><a uib-dropdown-toggle>
			 <span style="font-size:12px;color: #686B6D;"  >
						{{sys_user_info.name}}
			<i class="fa fa-caret-down" aria-hidden="true"></i> 			
						
						</span>
						
						
						 <span class="fa fa-user" aria-hidden="true"
					style="color: #686B6D; padding-left: 3px; padding-right: 3px"></span></a>
				<ul uib-dropdown-menu class="animated fadeInRight m-t-xs">
					<li ng-click="fullScreen()"><a class="fa fa-window-maximize"
						href="javascript:;" systemid="1"><i
							class="zmdi zmdi-shield-security"></i> <span
							style="padding-left: 6px;">全屏模式</span></a></li>
					<li ng-click="changepwd()"><a class="fa fa-key"
						href="javascript:;" systemid="1"><i
							class="zmdi zmdi-shield-security"></i> <span
							style="padding-left: 6px;">密码修改</span></a></li>
					<li ng-click="logout()"><a class="fa fa-hand-o-right"
						href="javascript:;" systemid="1"><i
							class="zmdi zmdi-shield-security"></i> <span
							style="padding-left: 6px;">退出登录</span></a></li>
				</ul></li>
		<!-- 		
				
				 <li>
                <a ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-tasks"></i>
                </a>
            </li> -->
            
            
		</ul>

	</nav>
</div>