<!-- <script src="js/common.js?v=70"></script> -->
<div ng-controller="sysFormSettingCtl">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox">
					<div class="ibox-content">
						<form role="form" class="form-inline">
							<div class="form-group">
								<label for="class">类目组 </label> <select id="class"
									style="width: 120px;" chosen disable-search="true"
									class="chosen-select" no-results-text="'没有找到相应条目'"
									ng-model="catRootSel" data-placeholder-text-single="'请选择...'"
									ng-options="item.name for item in catRootOpt">
									<option value=""></option>
								</select>
							</div>
							<button ng-click="query()" class="btn btn-sm btn-primary"
								type="submit">查询</button>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="row">

			<div class="col-lg-4">
				<div class="ibox">
					<div class="ibox-content" style="min-height: 250px;">
						<div js-tree="treeConfig" ng-model="treeData" tree="treeInstance"
							tree-events="ready:readyCB;create_node:createNodeCB"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="ibox">
					<div class="ibox-title">
						<div class="ibox-tools" style="text-align: left !important">
							<a href="" ng-click="itemquery()" class="btn btn-primary btn-xs">刷新</a>
							<a href="" ng-click="rowinsert()" class="btn btn-primary btn-xs">新增</a>
							<a href="" ng-click="rowupdate()" class="btn btn-primary btn-xs">更新</a>
							<a href="" ng-click="rowdel()" class="btn btn-primary btn-xs">删除</a>
							<a href="" ng-click="preview()" class="btn btn-primary btn-xs">表单设置</a>
						</div>
					</div>
					<div class="ibox-content">
						<table datatable="ed" dt-options="dtOptions"
							dt-instance="dtInstance" dt-columns="dtColumns"
							dt-column-defs="dtColumnDefs" class="table table-hover">
						</table>
					</div>
				</div>
			</div>
		</div>



	</div>
</div>
