 
<style>
.cat {
	verflow: hidden;
}

.cat_list {
	width: 100%;
	text-align: center;
}

.cat_list tr td span {
	style: none;
	display: block;
}
</style>


<div>

</div>


<div class="cat">
	<table class="cat_list">
		<tr>
			<td><span class="glyphicon glyphicon-user"></span> <span>拼团</span></td>
			<td><span class="glyphicon glyphicon-user"></span> <span>拼团</span></td>
			<td><span class="glyphicon glyphicon-user"></span> <span>拼团</span></td>
			<td><span class="glyphicon glyphicon-user"></span> <span>拼团</span></td>
		</tr>
	</table>
</div>
<!-- 图片展示开始 -->
<!-- 图片展示结束-->

<!-- 商品展示开始 -->
<!-- 商品展示结束-->
<div style="margin-top: 30px"></div>
