
<style>
.cat {
	padding-top:10px;
	padding-bottom:10px;
	verflow: hidden;
}

.cat_list {
	width: 100%;
	text-align: center;
}

.cat_list tr td span {
	style: none;
	display: block;
}

.cat_list tr td img {
	width: 40px;
	height: 40px;
}

.banner {
	width: 100%;
}

.banner span img {
	width: 100%
}
</style>


<div></div>


<div class="cat">
	<table class="cat_list">
		<tr>
			<td><img src="image/small/roulei.png"> <span>拼团</span></td>
			<td><img src="image/small/roulei.png"><span>拼团</span></td>
			<td><img src="image/small/roulei.png"><span>拼团</span></td>
			<td><img src="image/small/roulei.png"><span>拼团</span></td>
		</tr>
	</table>
</div>
<!-- 图片展示开始 -->
<div class="banner">
	<span> <img src="image/banner/1.jpg">
	</span> <span> <img src="image/banner/2.jpg">
	</span> <span> <img src="image/banner/3.jpg">
	</span><span> <img src="image/banner/4.jpg">
	</span>
</div>
<!-- 图片展示结束-->

<!-- 商品展示开始 -->
<!-- 商品展示结束-->
<div style="padding-bottom: 30px"></div>
