
<div class="row">
	<div class="col-md-3">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">运行环境</label>
				<div class="col-sm-8">
					<input ng-disabled="true" ng-model="item.envstr" type="text"
						class="form-control">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">详细位置</label>
				<div class="col-sm-8">
					<input ng-disabled="true" ng-model="item.locdtl" type="text"
						class="form-control">
				</div>
			</div>
		</form>
	</div>

	<div class="col-md-3">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">机柜</label>
				<div class="col-sm-8">
					<input ng-disabled="true" ng-model="item.rackstr" type="text"
						class="form-control">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">机架</label>
				<div class="col-sm-8">
					<input ng-disabled="true" ng-model="item.frame" type="text"
						class="form-control">
				</div>
			</div>
		</form>
	</div>

</div>


<div class="row">

	<div class="col-md-3">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">维保状态</label>
				<div class="col-sm-8">
					<input ng-disabled="true" ng-model="item.wbstr" type="text"
						class="form-control">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">脱保计算</label>
				<div class="col-sm-8">
					<input ng-disabled="true" ng-model="item.wb_autostr" type="text"
						class="form-control">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-3">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label">脱保时间</label>
				<div class="col-sm-8">
					<input ng-disabled="true" ng-model="item.wbout_datestr" type="text"
						class="form-control">
				</div>
			</div>
		</form>
	</div>



</div>

