
<div class="modal-content">
	<div class="modal-header">
		<button ng-click="cancel()" type="button" class="close">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title">用户列表</h4>
	</div>
	<div class="modal-body">
		<div class="wrapper wrapper-content animated fadeInRight">
			<table class="table">
				<tr>
					<th>用户名</th>
					<th>备注</th>
				</tr>
				<tr ng-repeat="x in users">
					<td>{{x.attr_value}}</td>
					<td>{{x.mark}}</td>
				</tr>
			</table>

		</div>

	</div>
	<!-- <div class="modal-footer">
		<button ng-click="cancel()" class="btn    btn-warning">取消</button>
		<button ng-disabled="myForm.$invalid" ng-click="sure()"
			class="btn btn-primary">确认</button>
	</div> -->
</div>