<style>
    @media ( min-width: 992px) {
        .modal-blg {
            width: 95%;
        }
    }
</style>
<link rel="stylesheet" href="./plugin/form/k-form-design.css">
<div class="modal-content">
    <div class="modal-header">
        <button ng-click="cancel()" type="button" class="close">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">详情</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row" >
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div id="app">
                        <k-form-build ref='kfb' disabled="true"  @submit="handleSubmit" :value="jsonData"></k-form-build>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <form class="form-horizontal m-t-md " name="myForm" novalidate
                          action="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span
                                    class="text-danger">*</span>资产列表:</label>
                            <div class="col-sm-10">
                                    <table datatable="ed" dt-options="dtOptions"
                                           dt-instance="dtInstance" dt-columns="dtColumns"
                                           dt-column-defs="dtColumnDefs" class="table table-hover">
                                    </table>

                            </div>
                        </div>

                        <div class="form-group" ng-hide="hidectl.flowsuggestlist">
                            <label class="col-sm-2 control-label">审批意见:</label>
                            <div class="col-sm-10">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="item in spsugguest"><p>
                                        <a class="text-info" style="margin-bottom: 5px">@{{item.assigneename}}
                                            <!--  <span
                                            ng-switch="item.cm_role"> <span
                                                ng-switch-when="owner">-[发起人]</span> <span
                                                ng-switch-when="buyer">-[审批人]</span> <span
                                                ng-switch-when="pt">-[归档]</span> <span ng-switch-default></span>
                                        </span> --> <span>-{{item.taskName}}</span>
                                        </a><br> <span
                                            style="margin-top: 10px; margin-left: 10px">{{item.opinion}}</span>
                                    </p> <small class="block text-muted"><i
                                            class="fa fa-clock-o"></i>处理时间:{{item.endDate}}</small></li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group" ng-hide="hidectl.flowchart">
                            <label class="col-sm-2 control-label">流程图:</label>
                            <div class="col-sm-10">
                                <iframe ng-src="{{url}}" height="300px" width="90%"
                                        style="margin-bottom: 50px" frameborder="no" border="0"
                                        marginwidth="0" marginheight="0" scrolling="yes"
                                        allowtransparency="yes"></iframe>
                            </div>
                        </div>
                        <div ng-switch="data.pstatus"  ng-hide="hidectl.flowsuggest">
                            <div ng-switch-when="rollback"></div>
                            <div ng-switch-default>
                                <div class="form-group" ng-hide="ctl.pagespbtnhide">
                                    <label class="col-sm-2 control-label"><span
                                            class="text-danger">*</span>审批意见:</label>
                                    <div class="col-sm-10">
										<textarea type="text"
                                                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                                                  style="padding-bottom: 50px" placeholder="请输入审批意见"
                                                  ng-model="spsuggest"> </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <div ng-hide="ctl.pagespbtnhide">
                    <div ng-switch="data.pstatus">
                        <div ng-switch-when="rollback">
                            <button ng-click="submit()" class="btn btn-primary">提交审批</button>
                        </div>
                        <div ng-switch-default>
                            <button ng-click="rollback()" class="btn btn-primary">退回</button>
                            <button ng-click="refuse()" class="btn btn-warning">拒绝</button>
                            <button ng-click="agreen()" class="btn btn-primary">同意</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>.mine.a
</div>
<script src="vendor/basket/basket.0.5.2.full.min.js"></script>
<script>
    basket
        .require({ url:'./plugin/form/vue.min.js',key:'vue'})
        .then(function () {
        basket.require({ url:'./plugin/form/k-form-design.umd.min.js',key:'vue-form'});
        }, function (error) {
            console.log('######',error);
        });
</script>
