<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dt.module.cmdb.mapper.ResClassAttrsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dt.module.cmdb.entity.ResClassAttrs">
        <id column="ATTR_ID" property="attrId" />
    <result column="DR" property="dr" />
    <result column="UPDATE_BY" property="updateBy" />
    <result column="CREATE_BY" property="createBy" />
    <result column="CREATE_TIME" property="createTime" />
    <result column="UPDATE_TIME" property="updateTime" />
        <result column="ATTR_NAME" property="attrName" />
        <result column="ATRR_TYPE" property="atrrType" />
        <result column="SORT" property="sort" />
        <result column="ATTR_CODE" property="attrCode" />
        <result column="CLASS_ID" property="classId" />
    </resultMap>

</mapper>
